<!DOCTYPE html>
<html lang="zh-CN" manifest="cache.manifest">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%=data[0].NAME%></title>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<body> 

<div class="container-fluid">
  <div class="row">
   <div class="col-md-6">
  	lable1:<%=data.NAME%>
	lable2:<%=data[0].NAME%>
  
  </div>
   <div class="col-md-6">
  
  
  </div>
  
   
  </div>
</div>


</body>
</html>
